* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

h1 {
    height: 100px;
    width: 100%;
    background-color: aquamarine;
}

button {
  border: 1px solid black;
  border-radius: 10%;
}

.conteudo, .lista {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 1000px;
}

